<html>
<head>
<title> Name Battle </title>
 <link rel="stylesheet" href="css/style.css">

</head>
<body style="background-color:#999999">
<div class ='main'>

	<div  id ='p1' style='float: left;padding-left:30px' class='dd'>
	<label style ="font-style:italic;
font-family: Cursive;">Name:<input type="text" name="name1" id = "name1"></label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style ="font-style:italic;
font-family: Cursive;">Role:<select id="role1"><option value="stu">Student</option><option value="pro">Professor</option><option value="programmer">Programmer</option></select></label>
	<table id ="table1" class = "t">
	<tr><th>HP</th><th>Attack</th><th>Speed</th><th>Defence</th><th>Luck</th><th>Wins</th></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	</table>
	<div class='hp'>
		<div id ='hp1'>
		</div>
	</div>
	</div>
	
	<div style='display: inline-block;text-align:center;width: 22.9%;height: 28.5%;'>
	<h1>V.S</h1>
	</div>
	
	<div id = 'p2' style='float: right;padding-right:30px' class='dd'>
	<label style ="font-style:italic;
font-family: Cursive;">Name:<input type="text" name="name2" id = "name2"></label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style ="font-style:italic;
font-family: Cursive;">Role:<select id="role2"><option value="stu">Student</option><option value="pro">Professor</option><option value="programmer">Programmer</option></select></label>
	<table id ="table2" class = "t">
	<tr><th>HP</th><th>Attack</th><th>Speed</th><th>Defence</th><th>Luck</th><th>Wins</th></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	</table>
	<div class='hp'>
		<div id ='hp2'>
		</div>
	</div>
	</div>
	
	<div class = 'buttons' id = 'bt'>
	<h2>Option</h2>
	<button style="margin-top: 30%;font-size: 16pt;font-family:Impact;">Fight!</button>
	</div>
	
	<div class='displayB'>
	<h2>text to be display....</h2>
	</div>
	
	<div class='ranking'>
	<h2>Ranking</h2>
	<ol id = 'rank'>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
	</div>
</div>
</body>
</html>