<html>
<head>
   <link rel="stylesheet" href="css/style.css">
</head>
<!--body style = "background-image:url(<a href="http://www.carlswebgraphics.com" target="_blank"><img src="http://www.carlswebgraphics.com/halloween/skeleton-sword-animated-b-6.gif" border="0" alt="Free Graphics"></a>)"-->
<body id="divvy">
<center><img src="http://i1373.photobucket.com/albums/ag373/mts51/namebattle_zps60f86358.png" alt="NAME BATTLE" style="width:234.5px;height:234.5px"></center>
<br>
<div id="buttonDiv">
<form method="post" action="/testlog.app">
<button class="button" type="submit">Click to Battle!</button>
</div>
</form>
</body>
</html>
"""